* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #d9d9d9;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
    background-color: #fff;
  width: 200px;
  text-align: center;
  display: inline-block;
  
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.card p {
  font-size: 1em;
  color: #333;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}